{% extends 'store/base.html' %}
{% load static %}
{% block main-content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'store/css/blog.css' %}">

<div class="container">
    <div class="row mt-n5">
        <h2 style="text-align:center; margin-top:10px;">Tất cả bài viết</h2>
        {% for post in posts %}
        <div class="col-md-4 mt-5 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="blog-grid">
                <div class="blog-grid-img position-relative">
                    <img class="thumbnail" src="{% get_media_prefix %}{{ post.bvThumb }}">
                </div>
                <div class="blog-grid-text p-4">
                    <h3 class="h5 mb-3"><a href="{% url 'blog_detail' post.loaibaiviet.lbvDuongdan post.bvDuongdan %}"> {{ post.baivietTen }} </a></h3>
                    <div class="meta meta-style2">
                        <ul>
                            <li><a href="#!"><i class="fas fa-calendar-alt"></i>{{ post.bvNgaytao }}</a></li>
                            <li><a href="#!"><i class="fas fa-user"></i> {{ post.bvTacgia }}</a></li>
                            <!-- <li><a href="#!"><i class="fas fa-comments"></i> 38</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock main-content %}
