{% extends 'store/base.html' %}

{% load static %}
{% block main-content %}
{% csrf_token %}

<div class="container my-5">
    <div class="row">
        <h3> Xin chào {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="#" class="btn btn-primary">Đổi mật khẩu xong </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 offset-sm-1 text-center">
            <h3> Đổi mật khẩu thành công</h3>
            
        </div>
        

    </div>

</div>

{% endblock main-content %}